*.o
*.a
*.d
*.so
*.so*
*.log
*.pc
*.ver
*.version
ffmpeg-4.1.3/config.h
ffmpeg-4.1.3/host
ffmpeg-4.1.3/ffbuild
ffmpeg-4.1.3/doc
ffmpeg-4.1.3/ffmpeg
ffmpeg-4.1.3/ffmpeg_g
ffplayer/app/ssplayer
.idea/
cmake-build-debug/
c_cpp_properties.json